@line: 20px;
@auto: auto;

.set-font(@font-size, @line-height: @line) {
    font-size: @font-size;
    line-height: @line-height;
}

.set-margin(@margin-left, @margin-right: @auto) {
    margin-left: @margin-top;
    margin-right: @margin-bottom; 
}
