@line: 10px;

.set-font(@font-size, @line-height: @line) {
    font-size: @font-size;
    line-height: @line-height;
}

.font-style(@font-family, @sans-serif, @font-weight, @color, @text-transform) {
    font-family: @font-family, @sans-serif;
    font-weight: @font-weight;
    color: @color;
    text-transform: @text-transform;
}
